.cartPageContainer {
  padding-top: 50px;

  .table {
    color: $whitTextColor;
    width: 99%;

    .tableRowHeading {
      border-bottom: 1px solid #fff;
    }

    .tableRowRemove {
      border-bottom: 1px solid gray;
    }
  }
}
