.backgroundWrapperImage {
  height: calc(100vh - $headerHeight - $footerHeight);
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .visuallyHidden {
    display: none;
  }
}
