.searchField {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  .resultsDropDown {
    width: 40%;
    height: auto;
    position: absolute;
    z-index: 10;
    top: 135px;
  }

  input {
    width: 40%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    background-color: $inheritDarkerBackground;
    color: $whitTextColor;
    padding-left: 20px;
  }

  .loader {
    width: 50px;

    img {
      width: 100%;
    }
  }

  .resultsList {
    color: $whitTextColor;
  }

  .listItem {
    .buttonItem {
      text-align: left;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      font-size: 16px;
      background-color: $backgroundColor;
      color: $whitTextColor;

      &:hover {
        cursor: pointer;
        background-color: $darkHoverColor;
      }
    }
  }
}
