@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

// Resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --base-margin: 1.6rem;
  // Common
  --base-focus: #fff;
  //Password modal
  --base-btn-bg: #9933cb;
  --icon-size: 20px;
  --icon-hover-bg: #fff;
}

body {
  color: $basicColor;
  // prettier-ignore
  font: 16px "OpenSans-Regular", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::placeholder {
  /* test for autoprefixer in postcss */
  color: antiquewhite;
}
