@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

// Resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  // Common
  --base-margin: 1.6rem;
  --base-focus: #fff;
  --ctrl-border-radius: 0px;
  //Submit button
  --base-btn-bg: rgba(90, 43, 125, 0.7);
  --base-btn-text: #e3e3e3;
  //Password modal icon
  --icon-size: 20px;
  --icon-hover-bg: #fff;
  //Select control
  --popup-bg: black;
  --menu-hover-bg: rgba(122, 122, 122, 0.7);
}

body {
  color: $whitTextColor;
  // prettier-ignore
  font: 16px "OpenSans-Regular", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::placeholder {
  /* test for autoprefixer in postcss */
  color: antiquewhite;
}
