@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

:root {
  --base-margin: 1.6rem;
}

body {
  color: $basicColor;
  // prettier-ignore
  font: 14px "OpenSans-Regular", sans-serif;
  min-height: 100vh;
  line-height: 1;
}

::placeholder {
  /* test for autoprefixer in postcss */
  color: antiquewhite;
}
