// Colors
$basicColor: #575e72;
$backgroundColor: #121212;
$whitTextColor: #e3e3e3;
$activeNavBorderColor: #9933cb;
$navHoverColor: #272727;
$inheritDarkerBackground: rgba(0, 0, 0, 0.5);

//Heights
$headerHeight: 65px;
$footerHeight: 90px;
