.backgroundWrapperImage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whitTextColor;
  font-size: 24px;
  height: 100vh;
  background-image: url("../../../assets/images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
