.ctrl {
  // override here only element-specific styles. Common styles override in main.scss
  margin: 0;
  padding: 0 0 0 15px;
  color: $whitTextColor;
  background-color: inherit;

  fieldset {
    display: block;
  }

  span {
    background-color: #fff;
  }

  input:checked + [icon]:after {
    background: blue;
  }

  strong {
    display: none;
  }
}
