.modalContainer {
  background-color: $backgroundColor;

  .modalHeader {
    font-size: 22px;
    font-weight: normal;
  }

  .submitBtnContainer {
    display: flex;
    justify-content: center;

    .submitButton {
      background-color: $mainPinkColor;
    }
  }
}
