.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  background-color: $backgroundColor;
  color: $whitTextColor;
  height: $headerHeight;
}

.navbarLinkItems {
  display: flex;
}

.linkItem {
  padding: 15px;
}

.active {
  border-bottom: 4px solid $activeNavBorderColor;
}

.linkItem:hover {
  background-color: $navHoverColor;
}

.linkItem:focus {
  background-color: $navHoverColor;
}
