.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  background-color: $backgroundColor;
  color: $whitTextColor;
}

.navbar-link-items {
  display: flex;
  gap: 20px;
}

.link-item {
  padding: 20px;

  .active {
    border-bottom: 6px solid $activeNavBorderColor;
  }
}

.link-item:hover {
  background-color: $navHoverColor;
}
