.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  background-color: $backgroundColor;
  color: $whitTextColor;
}

.navbarLinkItems {
  display: flex;
  gap: 20px;
}

.linkItem {
  padding: 20px;
}

.linkItem:hover {
  background-color: $navHoverColor;
}
