.form {
  font: inherit;

  .btnContainer {
    display: flex;
    gap: 10px;

    .submitBtn {
      font-weight: normal;
      padding: 10px;
      color: $whitTextColor;
      background-color: $inheritPinkBackground;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
