.backgroundWrapperImage {
  height: calc(100vh - $headerHeight - $footerHeight);
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
