.filterWrapper {
  width: 75%;
  margin: 0 auto;
  text-align: left;

  .filterHeading {
    margin: 0 auto 30px auto;
    padding: 0 0 15px 15px;
    color: $whitTextColor;
    border-bottom: 1px solid #fff;
    font-weight: normal;
  }

  .filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
